---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Color template
$color-primary-0: #96DE2D;
$color-primary-1: #C1F27B;
$color-primary-2: #ADEB52;
$color-primary-3: #77C00D;
$color-primary-4: #5A9701;

$color-secondary-1-0: #24B34F;
$color-secondary-1-1: #6CD48B;
$color-secondary-1-2: #43C069;
$color-secondary-1-3: #0A9A36;
$color-secondary-1-4: #017A25;

$color-secondary-2-0: #F24B31;
$color-secondary-2-1: #FF9382;
$color-secondary-2-2: #FF6F59;
$color-secondary-2-3: #D1280E;
$color-secondary-2-4: #A51701;

$color-complement-0: #CB2973;
$color-complement-1: #E574A8;
$color-complement-2: #D94B8C;
$color-complement-3: #AF0C56;
$color-complement-4: #8A013F;

// Base settings
$base-font-family: 'PT Serif Caption', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Media queries
$media-xs: 576px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;

@mixin media-query-up($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin media-query-down($device) {
    @media screen and (max-width: $device - 1) {
        @content;
    }
}

@keyframes heroFadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@import
        "normalize",
        "base",
        "layout"
;
