<nav>
    <a class="logo" href="/en/">
        <img src="/images/logo-sm.svg" title="Beer garden at the Kehr" width="89" height="45" alt="Biergarten am Bier">
    </a>
    <a href="#menu" class="menu" id="menu"><span></span></a>
    <a href="#close" class="close"><span></span></a>
    <a class="link" href="/en/#the-beer-garden">
        The beer garden
    </a>
    <a class="link" href="/en/#directions-hours">
        Directions & opening hours
    </a>
    <a class="link" href="/en/#drinks-and-snacks">
        Drinks and snacks
    </a>
    <div class="social">
        <a href="/"><img src="/images/de.svg" width="30" height="30" alt="Deutsch"></a>
    </div>
</nav>
