<nav>
    <a class="logo" href="/">
        <img src="/images/logo-sm.svg" title="Biergarten am Kehr" width="89" height="45" alt="Biergarten am Bier">
    </a>
    <a href="#menu" class="menu" id="menu">Menü<span></span></a>
    <a href="#close" class="close">Schließen<span></span></a>
    <a class="link" href="/#der-biergarten">
        Der Biergarten
    </a>
    <a class="link" href="/#anfahrt-oeffnungszeiten">
        Anfahrt & Öffnungszeiten
    </a>
    <a class="link" href="/#speisen-und-getraenke">
        Getränke und Snacks
    </a>
    <div class="social">
        <a href="/en{{ page.url }}"><img src="/images/en.svg" width="30" height="30" alt="English"></a>
    </div>
</nav>
