<nav>
    <a class="logo" href="/">
        <img src="/images/logo-sm.svg" title="Biergarten am Kehr" alt="Biergarten am Bier">
    </a>
    <input id="menu" type="checkbox">
    <label class="menu" for="nav-menu"><span></span></label>
    <a class="link" href="/#unser-biergarten">
        Unser Biergarten
    </a>
    <a class="link" href="/#anfahrt-oeffnungszeiten">
        Anfahrt & Öffnungszeiten
    </a>
    <a class="link" href="/#getraenkekarte">
        Getränkekarte
    </a>
    <a class="link" href="/#reservieren">
        Reservieren
    </a>
    <div class="social">
        <a href="https://de-de.facebook.com/GoettingerBiergarten"><img src="/images/facebook.svg" alt="Facebook"></a>
        <a href="https://twitter.com/BiergartenKehr"><img src="/images/twitter.svg" alt="Twitter"></a>
        <a href="https://www.instagram.com/goettingerbiergarten/"><img src="/images/instagram.svg" alt="Instagram"></a>
    </div>
</nav>
