html {
    font-size: $base-font-size;
}

html, body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

.btn {
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 900;
    padding: 8px 30px;
    transition: all 0.3s ease-in-out;

    &.btn-default {
        color: $color-secondary-1-2;
        &:hover {
            color: #fff;
            background-color: $color-secondary-1-2;
            border-color: $color-secondary-1-2;
        }
    }

    &.btn-white {
        color: #fff;
        &:hover {
            color: $color-secondary-1-0;
            background-color: #fff;
            border-color: #fff;
        }
    }
}

small {
    font-size: $small-font-size;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

#hero-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: center / cover no-repeat url('/images/hero-1.jpg');
    color: #fff;
    z-index: 1;
    animation: 1.5s ease-out 0s 1 heroFadeIn;

    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.8rem;
    }

    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, $color-complement-0 0%, $color-complement-1 100%);
        opacity: 0.5;
        z-index: 2;
    }

    > * {
        z-index: 3;
    }
}

.features {
    display: flex;
    justify-content: space-between;

    > article {
        padding: 20px;
        width: 100%;
        color: #666;

        > * {
            margin-bottom: 20px;
        }

        > h1 {
            color: $color-secondary-1-1;
        }

        > p {
            min-height: 120px;
        }

        > button { align-self: flex-end; }
    }
}

@include media-query-down($media-lg) {
    .hero-1 { background-image: url('/images/hero-1-lg.jpg'); }
}

@include media-query-down($media-md) {
    html { font-size: 14px; }
    .hero-1 { background-image: url('/images/hero-1-md.jpg'); }
    .features {
        flex-direction: column;
        text-align: center;

        > article {
            font-size: 16px;
            padding: 0;

            > p {
                min-height: initial;
            }
        }
    }
}

@include media-query-down($media-sm) {
    html { font-size: 12px; }
    .hero-1 { background-image: url('/images/hero-1-sm.jpg'); }
}
