@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif Caption'), local('PTSerif-Caption'),
       url('../fonts/pt-serif-caption-v9-latin-regular.woff2') format('woff2'),
       url('../fonts/pt-serif-caption-v9-latin-regular.woff') format('woff');
}

html {
    font-size: $base-font-size;
}

html, body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

body {
    padding-top: 60px;
}

small {
    display: block;
    font-size: 0.5em;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt {
    float: left;
    width: 12em;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dd {
    margin-left: 12em;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.jumbotron {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/hero-1.jpg') center / cover no-repeat;
    color: #fff;
    z-index: 1;
    min-height: 450px;

    .logo {
        background: #fff;
        border-radius: 50%;
        padding: 20px 5px;
        width: 200px;
        height: 150px;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.8rem;
        margin: 0;
    }

    > * {
        z-index: 3;
        margin: 20px;
    }
}

@include media-query-down($media-lg) {
    .jumbotron { background-image: url('/images/hero-1-lg.jpg'); }
}

@include media-query-down($media-md) {
    .jumbotron {
        background-image: url('/images/hero-1-md.jpg');
        flex-direction: column;
        text-align: center;
        h1 { font-size: 2.5rem }
    }
}

@include media-query-down($media-sm) {
    .jumbotron { background-image: url('/images/hero-1-sm.jpg'); }
}

@include media-query-down($media-xs) {
    .jumbotron { background-image: url('/images/hero-1-xs.jpg'); }
}

.thumbs {
    text-align: center;
    img { padding: 10px; }
}

.section {
    text-align: center;
    padding: 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);

    .logo {
        width: 130px;
        margin-top: 10px;
        margin-right: auto;
        text-align: center;
    }
    #menu, .menu { display: none; }

    .link {
        padding: 20px 10px 0;
        color: #000;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.25s ease-in-out;

        &:hover{ color: $color-primary-2; }

        &::after {
            content: '';
            display: block;
            border-bottom: solid 2px $color-primary-1;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
        }

        &.active::after, &:hover::after { transform: scaleX(1); }
    }

    .social {
        width: 130px;
        margin-left: auto;
        text-align: center;

        img {
            height: 30px;
            width: auto;
            padding: 15px 5px 0px;
        }
    }
}

@include media-query-down($media-md) {
    nav {
        position: fixed;
        top: 0;
        flex-flow: row wrap;
        padding: 0 10px;
        min-height: 50px;
        max-height: 100vh;
        overflow: auto;
        z-index: 4;

        .menu {
            order: 1;
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
            cursor: pointer;
            margin-top: 20px;
            margin-right: 20px;

            span {
                position: absolute;
                top: 8px;
                display: block;
                width: 25px;
                height: 2px;
                transition: all 0.2s ease-in-out;
                border-radius: 8px;
                background-color: #333;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 25px;
                    height: 2px;
                    transition: all 0.2s ease-in-out;
                    border-radius: 4px;
                    background-color: #333;
                }

                &::before {
                    top: -8px;
                }

                &::after {
                    top: 8px;
                }
            }
        }

        #menu {
            &:checked ~ .menu {
                span {
                    background-color: #fff;
                    &::before {
                        top: 0;
                        transform: rotate(45deg);
                    }

                    &::after {
                        top: 0;
                        transform: rotate(-45deg);
                    }
                }
            }

            &:checked ~ .link {
                max-height: 50px;
                padding: 10px 20px;
            }
        }

        .link {
            flex: 100%;
            order: 1;
            max-height: 0;
            font-size: 20px;
            padding: 0 20px;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }

        .social {
            display: none;
        }

        .logo {
            width: 90px;
        }
    }

    .features > article > img {
        margin-bottom: 0;
    }
}

.opening {
    display: flex;
    flex-direction: row;
    background-color: $color-primary-4;
    color: #fff;

    > div {
        width: 50%;
    }

    .map > .osm {
        display: block;
        min-height: 150px;
        height: 100%;
        background: url("/images/map.jpg") center/cover;
    }

    .content {
        position: relative;
        z-index: 1;
        background: url("/images/front.jpg") center / cover fixed;
        padding: 20px 0;

        > * {
            padding-left: 20px;
            padding-right: 20px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 63, 33, 0.8);
            z-index: -1;
        }
    }
}

.drinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    table {
        width: 300px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        tr {
            &.spacer { border-top: 15px solid transparent; }
            th { border-top: 7.5px solid transparent; border-bottom: 7.5px solid transparent; }
            th, td { padding-left: 10px; }
        }
    }
}

.annotation {
    margin-top: 20px;
    text-align: left;
    font-size: 0.8em;
    dt {
        width: 3em;
    }

    dd {
        margin-left: 3em;
    }

}

.reserve {
    display: flex;
    flex-direction: row;
    background-color: $color-secondary-2-1;
    height: 500px;;
    color: #fff;

    > div {
        height: 500px;;
        width: 50%;
    }

    .image {
        background-image: url("/images/reserviert.jpg");
        background-size: cover;
        background-position: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@include media-query-down($media-sm) {
    .opening, .drinks, .reserve {
        flex-direction: column;

        div {
            width: 100%;
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

footer {
    text-align: right;
    padding: 20px;
    background-color: #333;
    a {
        color: #fff;
        text-decoration: none;
    }

}

@include media-query-up($media-xs) {
    .container { width: 540px; }
}

@include media-query-up($media-sm) {
    .container { width: 700px; }
}

@include media-query-up($media-md) {
    .container { width: 960px; }
}

@include media-query-up($media-lg) {
    .container { width: 1140px; }
}
