nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);

    #nav-menu, .nav-menu { display: none; }

    .nav-link {
        margin-right: 20px;
        padding: 20px;
        color: #000;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.25s ease-in-out;

        &:hover{ color: $color-primary-2; }

        &::after {
            content: '';
            display: block;
            border-bottom: solid 2px $color-primary-1;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
        }

        &.active::after, &:hover::after { transform: scaleX(1); }
    }

    .social {
        img {
            height: 30px;
            width: auto;
            padding: 20px;
        }
    }
}

@include media-query-down($media-md) {
    body {
        padding-top: 50px;;
    }

    nav {
        position: fixed;
        top: 0;
        flex-flow: row wrap;
        padding: 0 10px;
        min-height: 50px;
        max-height: 100vh;
        overflow: auto;
        z-index: 4;

        .nav-logo {
            flex: auto;
            margin: 10px;
            img {
                width: 108.75px;
                height: 30px;
            }
        }

        .nav-menu {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
            cursor: pointer;
            margin-top: 15px;

            span {
                position: absolute;
                top: 8px;
                display: block;
                width: 25px;
                height: 2px;
                transition: all 0.2s ease-in-out;
                border-radius: 8px;
                background-color: #333;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 25px;
                    height: 2px;
                    transition: all 0.2s ease-in-out;
                    border-radius: 4px;
                    background-color: #333;
                }

                &::before {
                    top: -8px;
                }

                &::after {
                    top: 8px;
                }
            }
        }

        #nav-menu {
            &:checked ~ .nav-menu {
                span {
                    background-color: #fff;
                    &::before {
                        top: 0;
                        transform: rotate(45deg);
                    }

                    &::after {
                        top: 0;
                        transform: rotate(-45deg);
                    }
                }
            }

            &:checked ~ .nav-link {
                max-height: 50px;
                padding: 10px 20px;
            }
        }
        .nav-link {
            flex: 100%;
            max-height: 0;
            font-size: 20px;
            padding: 0 20px;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }
    }

    .features > article > img {
        margin-bottom: 0;
    }
}

.jumbotron {
    display: flex;
    flex-direction: column;
    > * { flex: 1; }
    min-height: 400px;
}

.opening {
    display: flex;
    flex-direction: row;
    background-color: #003F21;
    color: #fff;

    div {
        width: 50%;
    }

    .content {
        position: relative;
        z-index: 1;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 20px 0;

        > * {
            padding-left: 20px;
            padding-right: 20px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 63, 33, 0.8);
            z-index: -1;
        }
    }
}

.drinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    table {
        width: 250px;
        margin-top: 30px;
        text-align: left;
        tr {
            &.spacer { border-top: 15px solid transparent; }
            th { border-top: 7.5px solid transparent; border-bottom: 7.5px solid transparent; }
            th, td { padding-left: 10px; }
        }
    }
}

@include media-query-down($media-sm) {
    .opening, .drinks {
        flex-direction: column;

        div {
            width: 100%;
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

@include media-query-up($media-xs) {
    .container { width: 600px; }
}

@include media-query-up($media-sm) {
    .jumbotron { min-height: 533px; }
    .container { width: 700px; }
}

@include media-query-up($media-md) {
    .jumbotron { min-height: 600px; }
    .container { width: 960px; }
}

@include media-query-up($media-lg) {
    .jumbotron { min-height: 700px; }
    .container { width: 1140px; }
}
