nav {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    border-bottom: 1px solid #eee;

    .site-logo {
        margin-right: auto;
    }

    .site-link {
        padding: 0 20px;
        color: #000;
        font-size: 1.35rem;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.25s ease-in-out;

        &:hover{ color: $color-primary-2; }

        &::after {
            content: '';
            display: block;
            border-bottom: solid 2px $color-primary-1;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
        }

        &.active::after, &:hover::after { transform: scaleX(1); }
    }
}
